.page__header {
  margin-top: 28px;
  margin-right: 48px;
  margin-left: 48px;
  margin-bottom: 56px;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .page__header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .page__header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__header {
    margin: 16px 16px 48px;
  }
}
