.place__image {
  grid-column: 1;
  grid-row: 2 / 3;
  /* align-self: center;
  justify-self: center; */
  max-width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 320px) {
  .place__image {
    grid-column: 1;
    grid-row: 3;
  }
}
