.page__intro {
  max-width: 690px;
  margin-left: 148px;
  margin-bottom: 92px;
}

/* @media screen and (max-width: 1280px) {
} */

@media screen and (max-width: 1024px) {
  .page__intro {
    margin-left: 48px;
    max-width: 690px;
  }
}

@media screen and (max-width: 768px) {
  .page__intro {
    margin-top: 88px;
    margin-left: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .page__intro {
    margin: 64px auto 0;
  }
}
