.footer__link {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 18px;
  padding: 0;
  margin-bottom: 0;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 688px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
  }
  .footer__link:last-child {
    margin-bottom: 0;
  }
}
