.lead__title {
  grid-column: 1;
  grid-row: 1;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0;
  max-width: 720px;
}

@media screen and (max-width: 719px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 94%;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 16px;
  }
}
