.place__paragraph {
  grid-column: 2;
  grid-row: 2;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    padding: 0 16px;
    grid-column: 1;
    grid-row: 4;
    padding: 0 16px;
  }
}
