.footer__copyright {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}
