@font-face {
  src: url(./Inter/Inter-Regular.woff2) format("woff2"),
    url(./Inter/Inter-Regular.woff) format("woff");
  font-family: "Inter";
  font-weight: 400;
  /*альтернативный вариант
  font-weight: normal */
}

@font-face {
  src: url(./Inter/Inter-SemiBold.woff2) format("woff2"),
    url(./Inter/Inter-SemiBold.woff) format("woff");
  font-family: "Inter";
  /* mdn semi bold*/
  font-weight: 600;
}

@font-face {
  src: url(./Inter/Inter-Bold.woff2) format("woff2"),
    url(./Inter/Inter-Bold.woff) format("woff");
  font-family: "Inter";
  font-weight: 700;
  /*альтернативный вариант
  font-weight: bold */
}
