.lead__subtitle {
  grid-column: 1;
  grid-row: 2;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 32px auto 64px;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 16px auto 40px auto;
    font-size: 16px;
    line-height: 20px;
  }
}
