.cover {
  display: flex;
  padding: 0;
  background-repeat: no-repeat;
  max-width: 1184px;
  min-height: 740px; /* c height нормальное позиционирование */
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px; /* c height нормальное позиционирование */
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px; /* c height нормальное позиционирование */
  }
}

@media screen and (max-width: 688px) {
  .cover {
    min-height: 200px; /* c height нормальное позиционирование */
  }
}
