.language {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  color: #ffffff;
}

.language:hover {
  opacity: 0.8;
}

@media screen and (max-width: 719px) {
  .language {
    font-size: 18px;
    line-height: 20px;
  }
}
