.page__lead {
  max-width: 984px;
  margin: 56px auto;
}

/* @media screen and (max-width: 1280px) {
  .page__lead {
    max-width: 984px;
    margin: 56px auto;
  }
} */

@media screen and (max-width: 1024px) {
  .page__lead {
    max-width: 928px;
    margin: 48px auto;
  }
}

@media screen and (max-width: 768px) {
  .page__lead {
    max-width: 100%;
    margin: 48px auto 88px;
  }
}

@media screen and (max-width: 320px) {
  .page__lead {
    margin-bottom: 64px;
  }
}
