.page__places {
  margin: 0 auto 92px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .page__places {
    max-width: 928px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .page__places {
    margin-bottom: 90px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .page__places {
    margin-bottom: 66px;
    max-width: 320px;
  }
}
