.page__places {
  margin: 92px 148px;
}

@media screen and (max-width: 1024px) {
  .page__places {
    margin: 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .page__places {
    margin: 88px 24px 90px;
  }
}

@media screen and (max-width: 320px) {
  .page__places {
    margin: 64px 0 66px;
  }
}
