.cover__title {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 32px;
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}
