.place {
  /* width: 100%; */
  position: relative;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(660px, 1fr));
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-rows: repeat(auto-fill, minmax(640px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .place {
    row-gap: 73px;
    grid-template-rows: repeat(auto-fill, minmax(434px, 1fr));
  }
}

@media screen and (max-width: 688px) {
  .place {
    row-gap: 50px;
    grid-template-rows: repeat(auto-fill, minmax(320px, 1fr));
  }
}
