.page__footer {
  margin: 0 auto 24px;
  max-width: 1184px;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 1024px) {
  .page__footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .page__footer {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 688px) {
  .page__footer {
    max-width: 186px;
    padding-left: 16px;
    padding-right: 0;
  }
}
