.intro__title {
  margin: 0 0 40px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 718px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 445px) {
  .intro__title {
    max-width: 251px;
  }
}
